@model IEnumerable<Domain.Entities.Game>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Metascore
            </th>
            <th>
                Plataforms
            </th>
            <th>
                Genres
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Metascore)
            </td>
            <th>
                @string.Join(", ", item.Plataforms)
            </th>
            <th>
                @string.Join(", ", item.Genres)
            </th>
        </tr>
}
    </tbody>
</table>
