@model IEnumerable<HelpSite.Entities.MusicBand>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Members
            </th>
            <th>
                My Favorite Songs
            </th>
            <th>
                Genres
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @string.Join(", ", item.Members)
            </td>
            <td>
                @string.Join(", ", item.FavoriteSongs)
            </td>
            <td>
                @string.Join(", ", item.Genres)
            </td>
        </tr>
}
    </tbody>
</table>
