@model AboutMe.Models.MySelfViewModel
@{
    ViewData["Title"] = $"Know more about {Model.MyName}";
    var today = DateTime.Today;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        @Model.AboutMe
    </p>

    <img src="~/img/meme.png" class="img-fluid" alt="Responsive image">
    <p>
        Today is @today.ToShortDateString()
    </p>
</div>
