@model GameCore.GameModels.ChooseOneViewModel
@{
    ViewData["Title"] = "ChooseOneQuestion";
}

<h1>ChooseOneQuestion</h1>

<div class="row">
    <div class="col-md-12">
        <label asp-for="Question"></label>
    </div>
</div>
<div class="row">
    @foreach (var title in Model.Titles)
    {
        <div class="col-md-4">
            <h5>@title.Name</h5>
            <img src="@title.ImgUrl" alt="@title.Name" class="img-thumbnail">
            <input type="checkbox" asp-for="@title.Id" />
        </div>
    };

</div>