@model GameCore.GameModels.ScoreViewModel
@{
    ViewData["Title"] = "Your Score | Know more about me game";
}


<h3>
    Your score is <span class="score">@Model.Score</span>!
    <br />
</h3>

@await Html.PartialAsync("_QuestionText")

<div class="row">
    <div class="col-md-10">
        <form asp-controller="Game" asp-action="Finish" method="post">
            <div class="form-group">
                <textarea asp-for="Answer" class="form-control" ></textarea>
            </div>
            <hr />

            <div class="form-group">
                <input type="submit" value="Save my score!" id="btnSubmit" class="btn-primary btn" />
            </div>
        </form>
    </div>
</div>




