@model GameCore.GameModels.BaseQuestionViewModel
@{
    ViewData["Title"] = "TrueOrFalseQuestion";
}

<h1>TrueOrFalseQuestion</h1>

<div class="row">
    <div class="col-md-12">
        <label asp-for="Question"></label>
    </div>
</div>
<div class="row">

</div>