@model GameCore.GameModels.BaseQuestionViewModel
@{
    ViewData["Title"] = "True or False | Know more about me game";
}


@await Html.PartialAsync("_QuestionText")


<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-controller="Game" asp-action="AnswerCommon" method="post">
            <div class="form-group">
                <input type="radio" asp-for="Answer" value="true" />
                <label>True</label>
            </div>

            <div class="form-group">
                <input type="radio" asp-for="Answer" value="false" />
                <label>False</label>
            </div>

            <hr />
            <div class="form-group">

                <input type="submit" value="Next" id="btnSubmit" class="btn-primary btn" />
            </div>
        </form>
    </div>
</div>